<nav class="bg-gray-100 border-gray-200">
  <div class="flex flex-wrap items-center justify-between w-full p-4">
    <!-- Title on the left -->
    <div class="flex flex-row items-center gap-4">
      <div class="flex flex-col pl-0">
        <span class="block text-green-700 text-2xl font-bold">
          Nigerian Institute of Medical Research
        </span>
        <span class="block text-green-700 text-sm italic opacity-90">
          Research for National Health
        </span>
      </div>
      <img
        src="assets/images/nimr-coatofarms.png"
        class="h-16"
        alt="nimr-coa"
      />
    </div>

    <!-- Navigation and Profile on the right -->
    <div class="flex items-center space-x-8">
      <a
        href="#"
        class="text-green-700 bg-transparent rounded-sm hover:text-green-600"
        aria-current="page"
        >Home</a
      >
      <a href="#" class="text-green-700 rounded-sm hover:text-green-600"
        >Contact Support</a
      >

      <!-- User Menu -->
      <div class="relative">
        <button
          type="button"
          class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-green-300"
          id="user-menu-button"
          aria-expanded="false"
          data-dropdown-toggle="user-dropdown"
          data-dropdown-placement="bottom"
        >
          <span class="sr-only">Open user menu</span>
          <img
            class="w-8 h-8 rounded-full"
            src="assets/svgs/reshot-icon-telegram-LSZVDUKX6M.svg"
            alt="user photo"
          />
        </button>
        <!-- Dropdown menu -->
        <div
          class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow-sm absolute right-0"
          id="user-dropdown"
        >
          <div class="px-4 py-3">
            <span class="block text-sm text-green-700">Feyiseye Ogundoro</span>
            <span class="block text-sm text-green-500 truncate"
              >seye&#64;itropics.com</span
            >
          </div>
          <ul class="py-2" aria-labelledby="user-menu-button">
            <li>
              <a
                href="#"
                class="block px-4 py-2 text-sm text-green-700 hover:bg-green-50"
                >Profile</a
              >
            </li>
            <li>
              <a
                href="#"
                class="block px-4 py-2 text-sm text-green-700 hover:bg-green-50"
                >Settings</a
              >
            </li>
            <li>
              <a
                href="#"
                class="block px-4 py-2 text-sm text-green-700 hover:bg-green-50"
                >Sign out</a
              >
            </li>
          </ul>
        </div>
      </div>

      <!-- Mobile menu button -->
      <button
        data-collapse-toggle="navbar-user"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-green-500 rounded-lg md:hidden hover:bg-green-50 focus:outline-none focus:ring-2 focus:ring-green-200"
        aria-controls="navbar-user"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"
          />
        </svg>
      </button>
    </div>
  </div>
</nav>
