<button
  data-drawer-target="cta-button-sidebar"
  data-drawer-toggle="cta-button-sidebar"
  aria-controls="cta-button-sidebar"
  type="button"
  class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
>
  <span class="sr-only">Open sidebar</span>
  <svg
    class="w-6 h-6"
    aria-hidden="true"
    fill="currentColor"
    viewBox="0 0 20 20"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      clip-rule="evenodd"
      fill-rule="evenodd"
      d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
    ></path>
  </svg>
</button>

<aside
  id="cta-button-sidebar"
  class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
  aria-label="Sidebar"
>
  <div class="h-full bg-gray-100 shadow-lg">
    <!-- Logo and Name -->
    <div class="p-4">
      <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="assets/images/nimr-logo.png" class="h-16" alt="NIMR Logo" />
        <span class="text-2xl font-semibold whitespace-nowrap text-green-700">
          NIMR
        </span>
      </a>
    </div>

    <!-- Sidebar Navigation Items -->
    <nav class="p-4">
      <ul class="space-y-2 font-medium">
        <li>
          <a
            routerLink="/dashboard"
            class="flex items-center p-2 text-green-700 rounded-lg hover:bg-green-50 group"
          >
            <svg
              class="w-5 h-5 text-green-500 transition duration-75 group-hover:text-green-700"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 22 21"
            >
              <path
                d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z"
              />
              <path
                d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z"
              />
            </svg>
            <span class="ms-3">Dashboard</span>
          </a>
        </li>

        <li>
          <a
            routerLink="/users"
            class="flex items-center p-2 text-green-700 rounded-lg hover:bg-green-50 group"
          >
            <svg
              class="shrink-0 w-5 h-5 text-green-500 transition duration-75 group-hover:text-green-700"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 18"
            >
              <path
                d="M14 2a3.963 3.963 0 0 0-1.4.267 6.439 6.439 0 0 1-1.331 6.638A4 4 0 1 0 14 2Zm1 9h-1.264A6.957 6.957 0 0 1 15 15v2a2.97 2.97 0 0 1-.184 1H19a1 1 0 0 0 1-1v-1a5.006 5.006 0 0 0-5-5ZM6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"
              />
            </svg>
            <span class="flex-1 ms-3 whitespace-nowrap">Admin</span>
          </a>
        </li>

        <li>
          <div
            (click)="logout()"
            class="flex items-center p-2 text-green-700 rounded-lg cursor-pointer hover:bg-green-50 group"
          >
            <span class="flex-1 ms-3 whitespace-nowrap">Logout</span>
          </div>
        </li>
      </ul>
      <div
        id="dropdown-cta"
        class="p-4 mt-6 rounded-lg bg-green-50"
        role="alert"
      >
        <div class="flex items-center mb-3">
          <span
            class="bg-green-100 text-green-800 text-sm font-semibold me-2 px-2.5 py-0.5 rounded-sm"
            >NIMR</span
          >
          <button
            type="button"
            class="ms-auto -mx-1.5 -my-1.5 bg-green-50 inline-flex justify-center items-center w-6 h-6 text-green-900 rounded-lg focus:ring-2 focus:ring-green-400 p-1 hover:bg-green-100"
            data-dismiss-target="#dropdown-cta"
            aria-label="Close"
          >
            <span class="sr-only">Close</span>
            <svg
              class="w-2.5 h-2.5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
              />
            </svg>
          </button>
        </div>
        <p class="mb-3 text-sm text-green-800">
          National Institute for medical research (NIMR) manages Research Data
          for medical health
        </p>
        <a
          class="text-sm text-green-800 underline font-medium hover:text-green-900"
          href="#"
          >Turn new navigation off</a
        >
      </div>
    </nav>
  </div>
</aside>
